<html>
<head>
  <ul>
    <h2>File Exchange</h2>
  </ul>
</head>

<body>
<p>Your files:</p>
<% @files.each do |file| %>
  <li>
    <%= link_to file.filename, file_path(file) %>
  </li>
<% end %>

<p><%= link_to "Add file", new_file_path %></p>
<p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
</body>

</html>